h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    color: var(--digi-dark);
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1.25rem;
}

.digi-heading {
    font-size: 1.5rem;
    display: block;
}

p {
    margin: 0 0 1rem;
}

.digi-post-content ul {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.digi-post-content ol {
    list-style-type: decimal;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

ul.digi-list {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

blockquote {
    margin: 1.5em;
    border-left: 5px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.rtl blockquote {
    border-left: 0;
    border-right-width: 5px;
}

b,
strong {
    font-weight: 700;
    color: var(--digi-dark);
}
