*,
:after,
:before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--digi-dark-gray);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    &.sp {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

body.elementor-page .site-main .container {
    width: 100%;
    max-width: 100%;
}

.digi-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.site-content {
    position: relative;
}

.site-main {
    position: relative;
}

a {
    color: var(--digi-primary);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

a:hover {
    color: var(--digi-dark);
}

.digi-page-content a,
.digi-post-content-single a,
.comment-content a {
    text-decoration: underline;
}

/* Align */
.alignleft {
    float: left;
    margin-right: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.alignright {
    float: right;
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body .container .alignwide {
    margin-left: -80px;
    margin-right: -80px;
    max-width: 100vw;
}

body .container .alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
}

/* Pagination */
.digi-pagination {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.875rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    span.current,
    a.page-numbers {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
        line-height: 1;
        border-radius: 9999px;
    }

    a.page-numbers:hover {
        background-color: #eee;
        color: var(--digi-primary);
    }

    span.current {
        background-color: var(--digi-primary);
        color: #fff;
    }

    .page-numbers.prev {
        margin-left: auto;
    }

    .page-numbers.next {
        margin-right: auto;
    }
}

/* Other */
pre {
    background: var(--digi-neutral);
    font-family: "Courier 10 Pitch", Courier, monospace;
    margin-bottom: 1.6em;
    overflow: auto;
    max-width: 100%;
    padding: 1.6em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;

    td,
    th {
        padding: 0.7em 1em;
        border-width: 0 1px 1px 0;
    }

    th {
        font-weight: 600;
    }
}

table,
td,
th {
    border: 1px solid var(--digi-neutral);
}
