:root {
    /* Colors */
    --digi-primary: #7091e6;
    --digi-secondary: #3d52a0;
    --digi-dark: #27293b;
    --digi-neutral: #ecf0f1;
    --digi-dark-gray: #716c80;
    --digi-gray: #e5e5e5;
    --digi-green: #16a34a;
    --digi-red: #fe5252;
}
