:root {
    /* Colors */
    --digi-crimson: #e74c3c;
    --digi-ruby: #c0392b;
    --digi-yellow: #ffd83b;
    --digi-slate: #34495e;
    --digi-charcoal: #2c3e50;
    --digi-silver: #ecf0f1;
    --digi-dark-gray: #716c80;
    --digi-gray: #e5e5e5;
    --digi-green: #16a34a;
    --digi-red: #fe5252;
}
