h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    color: var(--digi-charcoal);
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5,
h6 {
    font-size: 1.125rem;
}

.digi-heading {
    font-size: 1.5rem;
    display: block;
}

p {
    margin: 0 0 1rem;
}

.digi-post-content ul {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.digi-post-content ol {
    list-style-type: decimal;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

ul.digi-list {
    list-style-type: disc;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

b,
strong {
    font-weight: 700;
    color: var(--digi-charcoal);
}

button.digi,
.digi-button,
input[type="submit"] {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: var(--digi-crimson);
    color: #fff;
    border: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

button.digi:hover, .digi-button:hover, input[type="submit"]:hover {
        background-color: var(--digi-ruby);
        color: #fff;
    }

button.digi svg, .digi-button svg, input[type="submit"] svg {
        fill: currentColor;
        z-index: 10;
        transition: all 300ms ease-in-out;
    }

button.digi .text, .digi-button .text, input[type="submit"] .text {
        position: relative;
        z-index: 10;
    }

button {
    border: 0;
}

button:disabled {
        opacity: 0.6;
    }

html :where(.editor-styles-wrapper) {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 1.1rem;
    line-height: 1.625;
    color: var(--digi-dark-gray);
}

body b,
    body strong {
        color: var(--digi-charcoal);
    }

.editor-styles-wrapper {
    position: relative;
}

.wp-block-group {
    border: 1px solid rgba(240, 240, 240, 1) !important;
    padding: 8px;
    margin: 8px;
}

.block-library-spacer__resize-container {
    background: rgba(gray, 0.5);
}

.wp-block-spacer {
    background-color: rgba(240, 240, 240, 1);
}

.wp-block-columns {
    padding: 20px;
    border: 2px dotted rgba(0, 0, 0, 0.1);
    background-color: rgba(250, 250, 250, 0.35);
}

.wp-block-columns .wp-block-column {
        padding: 20px;
        border: 2px dotted rgba(0, 0, 0, 0.1);
        background-color: rgba(250, 250, 250, 0.35);
    }

/* FROM HERE CUSTOM*/

.wrapper {
    @apply max-w-[90%] mx-auto;
}

@media (min-width: 1280px) {
    .wrapper {
        @apply max-w-[1200px];
    }
}

.wp-block-digi-spacer {
    @apply bg-[#f0f0f0];
}

.wp-block-digi-spacer.space-sm {
        @apply h-10 md:h-16;
    }

.wp-block-digi-spacer.space-md {
        @apply h-14 md:h-20;
    }

.wp-block-digi-spacer.space-lg {
        @apply h-14 md:h-28;
    }

.light-orange {
    @apply bg-light-orange-bg overflow-hidden;
}

.ribbon {
    transform: rotate(45deg);
    box-sizing: border-box;
}

/* Fix grid class conflict with Rank Math SEO */

body .grid {
    display: grid;
}
