body .digifusion-page-settings-sidebar {
    .components-panel__body.is-opened > .components-panel__body-title,
    .components-base-control:where(:not(:last-child)) {
        margin-bottom: 1rem;
    }

    .block-editor-panel-color-gradient-settings {
        border: 0;
        margin-bottom: 24px;
        padding: 0;
    }
}
